prisma==0.8.2
databases[sqlite]==0.7.0
asyncio==3.4.3
bcrypt==4.0.1
python-dotenv==1.0.0
pyjwt[crypto]==1.7.1
pydantic==1.10.7
pytz==2019.3
typing-extensions==4.6.3
loguru==0.7.0
Pyro5==5.14
SQLAlchemy==1.4.48

flask==2.3.2
werkzeug==2.3.6
boto3==1.26.163
openai==0.27.8